/* _about-us.scss */
@import "variables";



.history-section {
  background-color: $dark-bg-color;
  color: $light-text-color;
  text-align: center;
  padding: 50px 0;
  animation: appear 1s ease-out;
}



.about-us h2,
.about-us p {
  opacity: 0;
  animation: appear 1s ease-out forwards;
}

/* Animaciones y Efectos Adicionales */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
