/* _header.scss */

nav {
  background-color: $nav-bg-color;
  color: $light-text-color;
  padding: 15px 0;
}

.nav-link {
  color: $light-text-color !important;
}

/* Cambiamos el color en :hover para la barra de navegación */
.nav-link:hover {
  color: $hover-color !important;
}

/* Encabezado */
header {
  background-color: $header-bg-color;
  color: $light-text-color;
  text-align: center;
  padding: 50px 0;

  .logolargo {
    max-width: 100%;
    /* Aseguramos que el logo largo no exceda el ancho del contenedor */
    height: auto;
    filter: none;
    animation: appear 1s ease-out;

    @keyframes distort {

      0%,
      100% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1) rotate(5deg);
      }
    }

    @keyframes shake {

      0%,
      100% {
        transform: translateX(0);
      }

      25% {
        transform: translateX(-5px);
      }

      50% {
        transform: translateX(5px);
      }

      75% {
        transform: translateX(-3px);
      }
    }
  }
}

/* Sección Final */
.final-section {
  text-align: center;
  padding: 50px 0;
  background-color: $final-bg-color;
  color: $light-text-color;

  .imagen-final {
    width: auto;
    /* Otros estilos específicos que desees agregar */
  }
}


/* Sección presentacion */
.presentation-section {
  text-align: center;
  padding: 50px 0;
  background-color: $final-bg-color;
  color: $light-text-color;
}



/* Media Queries y Estilos Responsivos */
@media only screen and (max-width: 1200px) {
  .logolargo {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .logolargo {
    width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .logolargo {
    width: 150px;
  }
}

/* Animaciones y Efectos Adicionales */
@keyframes shine {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}