// _variables.scss

// Colores
$nav-bg-color: #222;
$light-text-color: #FFF;
$hover-color: darkorange;
$header-bg-color: #111;
$final-bg-color: #111;
$dark-bg-color: #222; // 
$border-color: #FFF; // 
$orange-color: darkorange; // 
$dark-orange-color: darkorange; // 
$footer-bg-color: #222; // 

// Otros
$spacing-unit: 20px;